<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="MealPeriodConnectionString2" 
        connectionString="Server=SEA2wnsql01; Database=MealPeriod; User Id=SEATTLE\ddouglas; password=Qazxsw!!!789"
        providerName="System.Data.SqlClient" />

     </connectionStrings>

  
    <system.web>  
      <compilation debug="true" targetFramework="4.5.2" />        
	<customErrors mode="Off"/>
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
