@{
    ViewBag.Title = "FAQ";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/common.js"></script>
<link rel="stylesheet" href="~/Content/style.css">

<br />

<div class="jumbotron">
    <h1>OMCF: @ViewBag.Message</h1> <h4>Click on a question to expand or unexpand its answer.</h4><hr /> <br />

    <div class="row">
        <div class="col-md-4">
            <h5 id="head1"><img class="play_icon" src="~/play_button.png" alt="Play Icon" />What constitutes an exact POS name?</h5>
            <p id="p1">
                The POS name is the actual name that appears on the POS key on your screen.  For example, the POS name for a bowl of the daily soup is BWL DAY SOUP.
                <br /><br />When requesting changes and deletes to keys that are already in your system, you must always give the exact POS name, otherwise the Home Office Administrator
                will not know which keys need to be changed or removed.
            </p>
        </div>
        <div class="col-md-4">
            <h5 id="head2"><img class="play_icon" src="~/play_button.png" alt="Play Icon" /> Why am I receiving an error when submitting an OMCF Request?</h5>
            <p id="p2">There are 2 common reasons for errors in OMCF requests:
            <br /> <br />
1. Description field entry is too long. The description should not be any longer than 50 letters, numbers or spaces. Do not use any dashes or hyphens either.
            <br /><br />
2. "Add to Request" has not been selected before "Review Request". You must add a request before you can review it. Click "Add to Request" after each entry. 
            </p>

        </div>
        <div class="col-md-4">
            <h5 id="head3"><img class="play_icon" src="~/play_button.png" alt="Play Icon" /> Can I go live with a new menu prior to the default date?</h5>
            <p id="p3">Yes.  When you choose a go live date that is less than one week from the submission date in Start Request you will receive a warning.  Once you click on OK, a text box will appear to provide a brief explanation
             on the urgency of your request.  Please keep in mind that the IT Department needs one week’s notice of all menu changes.  If your request is regarding circumstances beyond your control (ex. prices ringing in zero,
             malfunctioning keys, etc.) we will take care of your request ASAP.  If your request is regarding menu changes, we may not be able to accommodate the request in less than one week.
            </p>

        </div>
    </div> </div>
<hr />
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
                <h5 id="head4"><img class="play_icon" src="~/play_button.png" alt="Play Icon" /> Can I edit a request that's already been submitted?</h5>
                <p id="p4">
                    Once a request has been submitted it cannot be changed.  You must submit a new request for any subsequent changes. <br /><br /> For changes to Go Live date you can contact the administrator at posrequests@r-u-i.com.
                </p>

            </div>
            <div class="col-md-4">
                <h5 id="head5"><img class="play_icon" src="~/play_button.png" alt="Play Icon" /> When will my requested keys appear on my POS screen?</h5>
                <p id="p5">
                    POS keys for new items will appear on your POS screen prior to opening the day before go live. You will receive an automatic email once your request has been fully processed.
                    If your POS keys do not appear the day before go live, please email POSRequests@r-u-i.com.
                </p>

            </div>
            <div class="col-md-4">
                <h5 id="head6"><img class="play_icon" src="~/play_button.png" alt="Play Icon" /> Why was my request denied?</h5>
                <p id="p6">
                    The Home Office Administrator will always leave a comment with the request when an item is denied.  The comments appear in the automatic email that is sent to the requestor.
                </p>

            </div>
        </div>
    </div>
<hr />
   <div class="jumbotron">
    <div class="row">
        <div class="col-md-4">

            <h5 id="head7"><img class="play_icon" src="~/play_button.png" alt="Play Icon" /> How can I attach a menu?</h5>
            <p id="p7">
                For all fresh sheet changes and promotions, you must attach a copy of your menu to your request.  For step by step instructions on how to attach menus click on Help from the list in the upper left corner of your
                screen, then scroll down to #4 Attaching Menus.
            </p>

        </div>
        <div class="col-md-4">
            <h5 id="head8"><img class="play_icon" src="~/play_button.png" alt="Play Icon" /> Who's the main contact for OMCF requests?</h5>
            <p id="p8">
                Daniel Douglas <br />
                POSRequests@r-u-i.com <br />
                206-838-1344
            </p>

        </div>
    </div> </div>

<hr />
