@{
    ViewBag.Title = "Review Open Request";
}
<link rel="stylesheet" href="~/Content/style.css">

<br>
<div class="jumbotron">
    <center><h1>@ViewBag.Title</h1> </center>
    <hr />
    <center> <p class="lead">You are using Restaurant Unlimited's OMCF system. Click on the logo at the top left to see a summary of this application's different components.

</p></center>
    <div class="responsive-object">

        <center><object width="900" height="600" data="http://omcfnew/ReviewRequest.aspx"></object></center>
    </div>
</div>

<hr />